.wrapper {
  width: 500px;
}
.suggested-result {
  width: calc(100% - 10px);
  border: none;
  padding: 5px  0 5px 10px;
  display: block;
  cursor: pointer;
  &:focus{
    background-color: rgba(170, 170, 170, 0.62);
    outline: none;
  }
}
.searchBar {
  border: none;
  height: 33px;
  width: 100%;
  &:focus {
    outline: none;
  }
}
.search-result {
  width: calc(100% - 2px);
  border: 1px solid gray;
}
.input-with-chips {
  height: 35px;
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
  align-content: center;
}
.chip-item {
  align-self: center;
}
